#homeHero {
	background: #000000 url(../images/background_dk.png) no-repeat bottom right;
	position:relative;
	color: #f0f0f0;
}

#homeHero #heroText {
		z-index:100;
}

#homeHero h1{
	font-size: floor((@font-size-h1 * 2.7));
	line-height: floor((@font-size-h1 *2.6));
}

#homeHero h2{
	font-style: italic;
}
