#homeHero {
	background: #000000;
	background-image: url(../images/background_dk.png);
	background-image: url(../images/background_dk.png), -webkit-linear-gradient(top, #000000 65%, #121212 90%, #111111 100%);
	background-position:bottom right;
	background-repeat: no-repeat;
	position:relative;
	color: #f0f0f0;
	height:500px;
}

#homeHero #noblur {
		background: url(../images/background_dk_no_blur.png) no-repeat bottom right;
		opacity: 0;
		height:500px;
		position:absolute;
		display:block;
		width:100%;
		right: 0;
		bottom: 0;
		z-index: 99;
	-webkit-transition: opacity 1.5s ease-out;
		-moz-transition: opacity 1.5s ease-out;
			-ms-transition: opacity 1.5s ease-out;
			-o-transition: opacity 1.5s ease-out;
					transition: opacity 1.5s ease-out;

}

#homeHero:hover #noblur { opacity: 1; }

#homeHero #heroText {
		z-index:100;
}

#homeHero h1{
	font-size: floor((@font-size-h1 * 2.7));
	line-height: floor((@font-size-h1 *2.6));
}

#homeHero h2{
	font-style: italic;
}
