<nav>
  <header>
    <h1>
      <a href="/" title="kellyjandrews">kelly j andrews</a>
    </h1>
  </header>
  <div class="col-md-6 text-right">
    <a href="{{site.baseurl}}/experience" class="navlink"><i class="fa fa-info-circle fa-2x"></i></a>
    <a href="{{site.github}}" target="_blank"><i class="fab fa-github fa-2x"></i></a>
    <a href="{{site.twitter}}" target="_blank" ><i class="fab fa-twitter fa-2x"></i></a>
    <a href="{{site.linkedin}}" target="_blank" ><i class="fab fa-linkedin fa-2x"></i></a>
    <a href="{{site.stackexchange}}" target="_blank"><i class="fab fa-stack-exchange fa-2x"></i></a>
  </div>
</nav>
