<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-6">
      <header class="site-header">
        <h1>
            <a href="/" title="kellyjandrews">kelly j andrews</a>
        </h1>
    </header>
</div>
    <div class="col-md-6 text-right">
      <a href="{{site.github}}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a href="{{site.twitter}}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="{{site.stackexchange}}" target="_blank"><i class="fa fa-stack-exchange fa-2x"></i></a>
  </div>
  </div>
  </div>
</nav>
